* {
    transition: all 0.2s linear;
}

.dNone {
    opacity: 0;
    display: none;
}
a {
    text-decoration: none;
    color: antiquewhite;
}
a:hover {
    text-decoration: underline;
    color: rgb(136, 136, 211);
}

body {
    max-width: 100vw;
    overflow-x: hidden;
}

.mainArea_Window {
    background-color: rgba(119, 168, 211, 0.23);
    overflow-y: scroll;
    height: 100vh;
    width: 100vw;
    background-image: url('../Assets/images/appBg.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position-x: center;
}

.logoBox {
    display: flex;
}


.logo_web::before {
    content: "W";
    color: rgb(15, 253, 86);
}
.logo_cast::before {
    content: "C";
    color: #4eac69;
}
.webCastLogo_Icon {
    color: rgb(255, 255, 255);
    margin-left: 5px;
}

#cityName {
    background-color: rgba(147, 155, 151, 0.442);
    color: aliceblue;
}
#cityName::placeholder {
    color: rgb(197, 200, 202);
}

.loadingArrowCircle_Rotate {
    
    animation: rotateArrow 0.2s infinite;
    font-weight: bolder;
}

@keyframes rotateArrow {
    to {
        transform: rotate(360deg);
        cursor: pointer;
        color: rgb(11, 242, 11);
    }
}


.cityName_Output {
    text-transform: capitalize;
    color: #fff;
}

#temp {
    font-size: 8rem;
    color: rgb(255, 255, 255);
    /* background-color: red; */
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.temperature_Box {
    width: 100%;
    justify-content: center;
}
.tempUnit {
    font-size: 2rem;
    color: rgb(227, 244, 244);
    font-weight: 600;
    cursor: pointer;
}

.extradetails {
    flex-direction: column;
}


.web_Footer {
    background-position-y: bottom;
    height: 150px;
    width: 100vw;
    position: relative;
}
.footerBG {
    z-index: -1;
    height: 150px;
    width: 100vw;
    filter: blur(11px);
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url('../Assets/images/appBg.jpg');
    position: absolute;
    background-position-y: bottom;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}
.footer_Content {
    height: 150px;
    width: 100vw;
    flex-direction: column;
}

.footer_Content .footer_part1 {
    flex-direction: column;
}
.creator {
    font-size: smaller;
    color: rgb(122, 123, 123);
}
.creator a {
    font-size: 1rem;
}

.footer_Content .footer_part1 div.other_links {
    max-width: 100px;
}
.footer_Content .footer_part2 {
    font-size: x-small;
    text-align: right;
}